body {
	background: black;
}

h1{
position: absolute;
width: 1035px;
height: 300px;
left: 80px;
top: 100px;

font-family: Krona One;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 107%;
/* or 107px */

letter-spacing: 0.03em;

color: #FFFFFF;
}

h2{
position: absolute;
width: 1035px;
height: 332px;
left: 80px;
top: 200px;

font-family: Krona One;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 107%;
/* or 107px */

letter-spacing: 0.03em;

color: #FFFFFF;
}

h3{
position: absolute;
width: 1035px;
height: 332px;
left: 80px;
top: 300px;

font-family: Krona One;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 107%;
/* or 107px */

letter-spacing: 0.03em;

color: #FFFFFF;
}

h4{
position: absolute;
width: 563px;
height: 118px;
left: 227px;
top: 450px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 37px;
line-height: 120%;
/* or 59px */

letter-spacing: 0.065em;

color: #FFFFFF;
}

.row{
background: yellow;
}

h5{
position: absolute;
width: 482px;
height: 154px;
left: 102px;
top: 700px;

font-family: Krona One;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 107%;
letter-spacing: 0.03em;
color: #F2B705;
}

h6{
position: absolute;
width: 482px;
height: 154px;
left: 102px;
top: 850px;

font-family: Kanit;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 107%;
letter-spacing: 0.03em;
color: white;
}

img{	
max-width: 300px;
max-height: 2000px;
width: auto;
height: auto;
position: absolute;
left: 200px;
top: 700px;
}